.to-do-box{
  background-color: #3399ff;
  height: 350px;
  width: 90%;
  margin: 0 auto;
}
.title2{
  text-align: center;
  color: grey;
}
.title1{
  text-align: end;
  color: white;
  font-size: 50px;
}
  
.para{
  text-align: end;
  color: white;
  font-size: medium;
  
}
.box{
  padding: 10px 70px 10px 40px;
}
.put-txt{

  height: 35px;
  
  border-radius: 8px;
  padding-right: 84%;
 
}
.btn{
  height: 35px;
  width: 60px;
  border-radius: 8px;
  border: 0.5px solid lightblue;
  margin-top: 20px;
  margin-left: 94.2%;
  background-color: #3399ff;
  color: white;
}
.but{
height: 40px;
width: 140px;
background-color: lavenderblush;
border-radius: 4px;
margin: 10px;

}
.but1{
  height: 40px;
  width: 140px;
  background-color: red;
  border-radius: 4px;
  margin: 10px;
  
  }
  .active{
    text-decoration: line-through;
  }